[2018-05-30 05:14] kuitos opened #1 "Proposal for Official Support"
Hi @mweststrate
Recently I built this library to combine mobx with vue through a simple api what like mobx-react does, now it released v1.0.0 and reached 100% code coverage already, could you please donate some time to make a review and check is it good enough to move to mobxjs organization?

[2018-06-05 12:57] mweststrate commented on #1
Looks good! Should be compatible out of the box immediately as well with MobX 5, which means that it will support direct manipulation of objects, arrays etc, which is all more cumbersome in Vue ;-)

Feel free to submit an organization move request. I'll add you as collaborator as well.

[2018-06-05 14:00] mweststrate commented on #1
How does this library relate to https://github.com/dwqs/vue-mobx? Should the efforts be combined?

[2018-06-05 14:03] mweststrate commented on #1
N.B. note that moving it to the organisation means that there is a commitment @kuitos to support it from your side? I don't think there are a lot of other experienced Vue users in collaborators team of MobXJS :).

[2018-06-05 14:46] kuitos commented on #1
@mweststrate vue-mobx was not maintained any more, see https://github.com/dwqs/vue-mobx/issues/4 . The author recommended [movue](https://github.com/nighca/movue) .
And, the author of movue had raised a question which just mobx-vue solved: https://github.com/nighca/movue/issues/16 .

Both the libraries are inspired by [vue-rx](https://github.com/vuejs/vue-rx), which I think would weaken the mobx p

[2018-06-05 15:50] nighca commented on #1
Great effort @kuitos! Let me know if I can offer help.

[2018-06-05 16:10] kuitos opened #2 "Compatible with MobX 5"
https://github.com/mobxjs/mobx/blob/master/CHANGELOG.md#500

* [x] use import { $mobx } from "mobx" instead of `.$mobx` property

[2018-06-06 00:31] kuitos commented on #1
Firstly, recommend mobx-vue on movue haha.@nighca :stuck_out_tongue_winking_eye:

[2018-06-06 01:39] nighca commented on #1
@kuitos Sure. I [introduced mobx-vue in README](https://github.com/nighca/movue/commit/c28d28df8010e49c184cc78a62c8b13890e274c7). :)
By the way, I've got some ideas about mobx-vue and will explain in another issue.

[2018-06-06 02:08] kuitos commented on #1
all right:ok_hand:

[2018-06-06 02:17] nighca opened #3 "Thoughts about mobx-vue"
Hi there! I've read the docs and came with some ideas:

1. Mostly what we want is to connect **Store instance** with **Component instance/element**, instead of to connect **Store instance** with **Component class/definition**. The later may introduce issues when the same **Component class/definition** used (instantiated) multiple times - different **Component instance/element** will share the same

[2018-06-06 02:35] #1 closed, assigned to nobody

[2018-06-07 03:05] kuitos commented on #3
It's so great that met someone thought the same!

1. Usually we use store in a singleton way, which means they are global and that is what redux and vuex does actually. So I think maybe you need a workaround to solve the shared-state problem(also needs in redux and vuex scenario):
[code]
  That is not my favour too so maybe I should support initializing the state automatically.

[code]

  But the

[2018-06-07 06:42] xrado commented on #3
What about connecting multiple stores?

[2018-06-07 07:19] kuitos commented on #3
@xrado good question! Actually that is what made me in a dilemma.
I think one component should bind with one ViewModel, and the ViewModel could composed by multiple store and itself local states IMO, which [mmlpx](https://github.com/mmlpxjs/mmlpx) dose and that matching the standard [MVVM philosophy](https://docs.microsoft.com/en-us/previous-versions/msp-n-p/hh848246(v=pandp.10)).
But now I realiz

[2018-06-07 07:22] kuitos opened #4 "Use Observer instead of Connect decorator"
see details: https://github.com/mobxjs/mobx-vue/issues/3

[2018-06-08 02:26] yee94 opened #5 "如果有多个Store，该如何使用呢？"
[code]

这是目前官方给的例子，想问下如果有多个Mobx 的store，该如何使用呢？我这样的使用可以被支持吗？
[code]

[2018-06-08 03:17] kuitos commented on #5
v2.0.0 released! which use Observer decorator instead of Connect, just like mobx-react does.
Now you can define your component like this:
[code]

Or u can check the doc for more information: https://github.com/mobxjs/mobx-vue

[2018-06-08 03:18] #4 closed, assigned to nobody

[2018-06-08 03:19] kuitos commented on #3
Released v2.0.0! @nighca @xrado

[2018-06-08 03:52] nighca commented on #3
@kuitos 👍 Very impressive productivity.

To me, it is reasonable to provide another API like `@Connect(ViewModel)` and do class instantiation automatically. As it is more relevant to DI thing, maybe such an API and DI solution for Vue-Mobx can be provided together.

[2018-06-08 05:30] kuitos commented on #3
@nighca Automatic instantiation will introduce several new issues which should not simply construct the ViewModel with `new`, also applies to di system. Look such a scenario:

[code]
We need provide the ability to pass parameters to constructor, maybe it looks like this:

[code]

And things are moving forward. The parameter cames from vue instance, such as a router query string. We need support an

[2018-06-08 07:17] nighca commented on #3
@kuitos Yes, what I mean is just what mmlpx does.

But I'm not sure if mmlpx already suits Vue context well. Maybe there is some more work needed, and if so, it is fine to provide these things within mobx-vue (instead of some other package like mmlpx-vue), just like that mobx-react provides `Provider/inject`. `Connect` is just another high level function based on `Observer`.

[2018-06-08 08:59] doxiaodong opened #6 "Unable to resolve signature of class decorator when called as an expression."
![image](https://user-images.githubusercontent.com/6927481/41149090-363d86a0-6b3d-11e8-9f7b-747bd340e458.png)
![image](https://user-images.githubusercontent.com/6927481/41149102-4386a152-6b3d-11e8-9088-984284ed7ae1.png)

[2018-06-08 12:41] kuitos commented on #6
fixed and released v2.0.3!

[2018-06-08 12:41] #6 closed, assigned to nobody

[2018-06-08 12:41] #5 closed, assigned to nobody

[2018-06-08 19:21] ThreeScreenStudios opened #7 "Dev tooling?"
Thank you for all your work with Mobx-vue and helping make Mobx work with Vue! I've just started working with MobX + Vue and liking it a lot so far.

One question I had was about any dev tooling available that is stack agnostic or Vue specific, as it looks like the Mobx chrome dev tools and Delorean for time travel debugging is Mobx + React only? If there isn't any at the moment, are there plans f

[2018-06-11 01:48] kuitos commented on #7
It's great that this lib is helpful for you!

Mobx dev tool should be a universal stuff rather than a special one such as a mobx-vue-tool or mobx-react-tool imo.

After googling I found this project: https://github.com/zalmoxisus/mobx-remotedev, seems suit for all mobx project, hope helpful for you.

Feel free to ask any question😀.

[2018-06-11 14:15] ThreeScreenStudios commented on #7
Great, will check mobx-remotedev out, thank you!

[2018-06-11 14:15] #7 closed, assigned to nobody

[2018-06-12 07:17] yee94 opened #8 "视图层不响应，我这样有问题吗？"
[code]

当我运行上面这段代码的时候打印出来的数据是10 ，但Dom还是9

Vue版本2.5.16 ，Mobx版本4.3.1

[2018-06-12 07:18] yee94 commented on #8
对不起，我的问题。。。没有引入你的库

[2018-06-12 07:52] #8 closed, assigned to nobody

[2018-06-12 08:46] yee94 opened #9 "加入v-if后Dom响应失效"
[code]

当模板渲染加入v-if后，Dom响应会失效。

页面理论应该在2000后显示 {x:1} ,可是一直会停在{x:0}

[2018-06-12 09:18] kuitos commented on #9
That was because `isShow` is not an mobx observable and we don't track the updating by vue watchers.

To solve that U can move `isShow` to `TestMobx` as an observable.

BTW, we suggest using mobx to manage your state, since you had chosen mobx😄.

[2018-06-12 10:11] kuitos commented on #9
Fixed and released v2.0.4 @xiaobebe

Even so, we still suggest using mobx to manage app state rather than vue native data, as best practice.

[2018-06-12 10:11] #9 closed, assigned to nobody

[2018-06-12 10:34] yee94 commented on #9
tku ！！

[2018-06-12 12:45] xrado opened #10 "meta component"
I have a case where I pass component definition directly to vue meta component.

`<component :is="{..component definition}" v-bind="props"/>`

wrapping it with observer breaks a whole thing.
Do you have any idea what to do here?

[2018-06-12 21:09] xrado commented on #10
@kuitos I found the issue
if the component has data property with the value null then it breaks on
[code]
see example https://codesandbox.io/s/xl42xljxrp
click on button "2"

[2018-06-13 02:50] kuitos commented on #10
@xrado
`observer` always returned the extended component constructor, for issue 1 could you provide a codesandbox link?

For issue 2 I will fix it and release soon.

Thanks for your feedback!

[2018-06-13 03:16] kuitos commented on #10
@xrado issue 2 fixed and released v2.0.5!

[2018-06-13 08:38] xrado commented on #10
@kuitos this also solves the first issue ...awesome, thanks

[2018-06-13 08:38] #10 closed, assigned to nobody

[2018-06-21 12:04] xrado opened #11 "Using mobx computed inside vue computed"
When using mobx computed inside vue computed, vue computed don't get updated.

https://codesandbox.io/s/m5k1yrn2xx
click add

[2018-06-21 15:46] kuitos commented on #11
That is because mobx-vue do not modify/wrap the original vue computed definition, so the mobx observable is not recognized by vue thus mobx changes will not trigger vue data reevaluation.

BTW, we suggest using mobx to manage all your state rather than mixed them in, since you had chosen mobx🙂.

[2018-06-21 19:55] xrado commented on #11
I agree, it is probably better to move all the state to mobx, but sometimes it comes handy if you can mix mobx shared state with vue local state. Is this vue computed modification/wrapping even possible, as you better know the internals?

[2018-06-22 01:26] pillowsoft opened #12 "Doesn't appear to work with mobx-state-tree. Should it?"
I create two stores, one a mobx store and one a mobx-state-tree store.  I then hooked them both up to a vue view, per the readme. The mobx store works (i.e component updates when the store changes), but the view does not update on changes in the mobx-state-tree store.

[2018-06-22 01:37] kuitos commented on #11
yes it is possible and not very complicated. But if we convert vue computed into mobx computed as the first step, it means we should take over the whole vue watcher system, means we should not only convert computed but also convert vue props to observable, vue watch to observe, vue method to action, and so on. And, the most important is, all of these conversion are implicit, the syntactic inconsis

[2018-06-22 01:48] kuitos commented on #12
Checked and it works well with my demo, could u give a [codesandbox](https://codesandbox.io/) link to reproduce it?

[2018-06-22 03:22] kuitos commented on #2
done!

[2018-06-22 03:22] #2 closed, assigned to nobody

[2018-06-22 12:59] pillowsoft commented on #12
I could not get [codesandbox](https://codesandbox.io/) to work (it had issues with multiple copies of mobx). Here's a repo that demos the issue: [demo repo](https://github.com/pillowsoft/mobx-state-tree-vue-bug-demo)

[2018-06-23 03:22] kuitos commented on #12
I had run a codesandbox demo to revalidate it and found nothing wrong. Could you check any thing I had missed? https://codesandbox.io/s/rjqr3pl34o

[2018-06-23 12:37] pillowsoft commented on #12
Thanks! Yours works, but if you use a nested mst store, it breaks (at least
for me).

Try this one with a nested mst store: https://codesandbox.io/s/x9qmzpkj84

I.e. the code is modifying the mst correctly, but re-renders are not
happening on nested chnages.

On Fri, Jun 22, 2018 at 11:22 PM Kuitos <notifications@github.com> wrote:

[2018-06-24 09:45] kuitos commented on #12
With your codesandbox demo it worked well in my side, mst changes triggered. Anything I missed?

![kapture 2018-06-24 at 17 47 07](https://user-images.githubusercontent.com/5206843/41817918-f3b171ce-77d6-11e8-8a0e-6134fbcfd9d4.gif)

[2018-06-24 18:29] pillowsoft commented on #12
Egads, you're right. No sure what the heck I was doing, but it does indeed
seem to be working now. So sorry for the confusion. Thank you and I owe you
a drink!

On Sun, Jun 24, 2018 at 5:45 AM Kuitos <notifications@github.com> wrote:

[2018-06-25 03:32] kuitos commented on #12
Never mind! Feel free to ask any questions!😀

[2018-06-25 03:32] #12 closed, assigned to nobody

[2018-07-03 07:32] ethanyou725 opened #13 "How to enable mobx strict mode?"
here is the code, models
[code]
vue component:
[code]
Uncaught Error: [mobx] Since strict-mode is enabled, chang...
The mobx strict mode is useful to prevent some unnecessary problem. I tried add action in vue compoent, it doesn't work, has any way to enable strict model ?

[2018-07-03 08:19] kuitos commented on #13
All reactions in mobx are synchronized, so you need to wrap your async mutation into `runInAction` method:
[code]

check the doc: https://mobx.js.org/best/actions.html

[2018-07-05 02:42] ethanyou725 commented on #13
It's my fault, sorry, closed.

[2018-07-05 02:42] #13 closed, assigned to nobody

[2018-07-09 04:45] lvvlan commented on #8
想问下，你用vue-property-decorator这个装饰库，会报 `The "data" option should be a function that returns a per-instance value in component definitions.` 的warning吗？

[2018-07-09 05:12] lvvlan opened #14 "[Vue warn]: The "data" option should be a function"
This is my code

[code]

but has this warning:

`[Vue warn]: The "data" option should be a function that returns a per-instance value in component definitions.`

why??

[2018-07-09 06:29] lvvlan commented on #14
I'm trying to do this

[code]

but warning still exists

[2018-07-09 06:36] kuitos commented on #14
Could you please provide a minimum reproduction with codesandbox? You can make it with this template https://codesandbox.io/s/j76vj84zw9

[2018-07-09 08:30] lvvlan commented on #14
This is a simple demo https://codesandbox.io/s/lj3l95m09
If I use vue-router, this warning will appear,  If I not use vue-router, there's no problem,

[2018-07-09 09:41] kuitos commented on #14
@lvvlan fixed and released v2.0.7
Thanks for your feedback!

[2018-07-09 09:41] #14 closed, assigned to nobody

[2018-07-11 06:47] lvvlan opened #15 "TypeError: 'set' on proxy: trap returned falsish for property '__proto__'"
Pls help, why is not working

This is demo `https://codesandbox.io/s/lj3l95m09`

Thx!

[2018-07-11 07:41] kuitos commented on #15
The component which you used try to re-define the property of observable of mobx, use a non-mobx observable data or `observable.ref` instead.
[code]

[2018-07-11 11:27] lvvlan commented on #15
Thx~ But if use `@observable.ref`, the changes in model do not respond to view，How should I do？

[2018-07-11 16:17] snaptopixel opened #16 "How to make props reactive?"
Is there a way to make this reactive?
[code]

[2018-07-12 02:15] kuitos commented on #16
uh... Exactly I didn't understood what u mean... Could u please explain it in detail or make a codesandbox demo?

[2018-07-12 02:58] kuitos commented on #15
do not modify the array with `push` or `splice` or such way, modify the reference instead. check the doc https://mobx.js.org/refguide/modifiers.html#reference-observability

[2018-07-12 04:12] lvvlan commented on #15
Thx very much! But I don't understand what do u mean `modify the reference instead`, If I use `@observable.ref`, It means I can't change model？?
This is simple demo `https://codesandbox.io/s/lj3l95m09`, that use `@observable.ref`, how should I change the model, it can be respond to view?

[2018-07-12 05:18] kuitos commented on #15
What u decorated with `observable.ref` was `val` rather than the nested `val.b.test`, so re-assign `val` with a new reference then the reaction would be triggered.
[code]
To achieve the immutable approach u could try [immer](https://github.com/mweststrate/immer) to reduce the verbose boilerplate code.

[2018-07-12 06:56] lvvlan commented on #15
sorry sorry I'm wrong and update [https://codesandbox.io/s/lj3l95m09](https://codesandbox.io/s/lj3l95m09)
I think `this.model= {...this.model}`, u mean a new reference then the reaction would be triggered. however that `mobx-vue` is not used, because `@Observer` will replace Vue `Watcher`, right?

[2018-07-12 07:02] lvvlan commented on #15
but `this.model.val = {...this.model.val}` can be update view, because I changed the reference, right?

[2018-07-12 07:16] kuitos commented on #15
yep, `observable.ref` only react to reference changing

[2018-07-13 07:10] louisscrew opened #17 "如何在全局创建一个store？"
如何在全局创建一个store？如何像vuex一样创建一个全局的store，例如：
[code]

创建一个全局组件后，在每一个组件子组件中都可以通过this.$store来获取这个store。

目前mobx-vue似乎只能针对一个vue创建一个store，子组件不知道用什么方法获取这个呢？

[2018-07-13 07:38] kuitos commented on #17
mobx-vue do not restrict you how to define your store with singleton or multiton, as well as mobx. You could treat any singleton store as global state and import it anywhere.
[code]
[code]

[2018-07-14 16:36] snaptopixel commented on #16
Sorry @kuitos, my initial post was vague. Let me phrase it in a different way...

When using mobx-vue, what is the pattern for passing component props? Here's what I've been doing which is not ideal...

[code]

[2018-07-16 04:05] kuitos commented on #16
If your the prop `account` only changed once after component mounted, u can pass the account to your ViewModel over a dependency injection way.
[code]
Or u might be interested in the specified solution provided by [mmlpx di](https://github.com/mmlpxjs/mmlpx#di-system)

While your `account` changed around the component lifecycle, and you wanna reassign state account dynamically, `@Watch` maybe the

[2018-07-17 00:42] louisscrew commented on #17
ok，我一般比较喜欢单例模式，我在使用vuex和vuet的时候，在创建vue实例的时候就可以传递一个参数，比如store或者其他。之后在其下所有的子组件都可以通过this.$store或者this.$vm.$store的形式就能获取到store。那么对于mobx-vue来讲，是不是子组件也需要如下进行获取store呢？

[code]

上面的SubComponent需要引用一次store是吗？

[2018-07-17 01:26] kuitos commented on #17
yep, just import it.
btw, single store is not recommended in mobx paradigm, although not restricted as well. All are up to you.

[2018-07-17 01:28] louisscrew commented on #17
Thank you very much for your answer.

[2018-07-17 01:48] #17 closed, assigned to nobody

[2018-07-17 01:49] kuitos commented on #17
Feel free to ask any questions!😀

[2018-07-18 19:05] #16 closed, assigned to nobody

[2018-07-18 19:07] snaptopixel opened #18 "Most of the tests are failing"
I was gearing up to start a PR but noticed the bulk of the tests are failing? Is there something wrong with the lib, or are the tests outdated?

![](https://cl.ly/3l072H1y2a2N/Image%202018-07-18%20at%203.06.20%20PM.png)

[2018-07-19 01:57] kuitos commented on #18
had checked the local and latest [travis building](https://travis-ci.org/mobxjs/mobx-vue), nothing broken yet. Could you have a try to look into the error stack or rebuild the dependencies(delete node_modeuls and rerun `npm i`) with npm@5 again?

[2018-07-19 20:52] snaptopixel commented on #18
Ok, I had used `yarn` previously, but following your directions it's working now. Thanks, closing!

[2018-07-20 02:56] kuitos commented on #18
expecting for your pr 😀

[2018-07-24 03:20] snaptopixel commented on #18
Still working on my PR @kuitos, I wanted to re-open this because the tests fail whenever I update `vue-test-utils`. The only way to get them working again is to revert the change in package.json and package-lock.json, then `npm i` and they will run again...

[2018-07-24 03:25] kuitos commented on #18
`vue-test-utils` is beta still, we should keep it locked at current period imo.

[2018-07-26 13:25] cocodrino opened #20 "any guide about isomorphic mobx with vue???"
Hi guys, I'd like to use mobx and vue isomorphic, which is the best way to achieve this??? would be great if mubx would be incorporated to nuxt as alternative to redux...any plan for this???

thank you guys for the great job...

[2018-07-27 07:46] kuitos commented on #20
uh... Exactly I do not understand what u want😅
If you wanna support [SSR](https://ssr.vuejs.org/) with mobx, u could check this lib: https://github.com/mmlpxjs/mmlpx#time-travelling

[2018-07-27 11:25] kuitos commented on #18
Had submitted a pr to fix this issue: https://github.com/vuejs/vue-test-utils/pull/856

[2018-07-30 03:20] kuitos commented on #18
fixed

[2018-07-30 03:20] #18 closed, assigned to nobody

[2018-07-30 13:56] snaptopixel commented on #18
Great work @kuitos! Thanks for looking into it and fixing vue-test-utils ;)

[2018-08-01 09:29] pgalwa opened #21 "What about Provider decorator?"
Hey,
Is any common pattern for mobx-vue which is similar to using Provider decorator from a mobx-react?

Also I have a question about using it with routing. Can I inject specified substore/ substores to exact route?

[2018-08-02 04:20] kuitos commented on #21
@pgalwa
As the context concept did not occur in vue system, so the `Provider` approach does not have a really usage in vue app imo.
But if you are really want the `Provider` mechanism, you could try the native [provide/inject](https://vuejs.org/v2/api/#provide-inject) which provided by vue.

Could you please show some code to describe this use case?

[2018-08-02 11:46] pgalwa commented on #21
I meant something like in https://github.com/alisd23/mobx-react-router but I see you answered my question :)

So thanks 👍

[2018-08-03 06:09] kuitos commented on #21
Cool😀
Thanks for your feedback!

[2018-08-03 06:09] #21 closed, assigned to nobody

[2018-08-04 08:38] joshua1 opened #22 "store as vue instance prototype"
I want to ask if this will work if i added a new instance of my store as a vue instance prototype object
``` Vue.prototype.$todoStore=new TodoViewModel() ```
And use in all my components as ```this.$todoStore``` as opposed to creating a new instance of the store in each component.

[2018-08-06 03:22] kuitos commented on #22
yes, it could

[2018-08-06 13:50] #22 closed, assigned to nobody

[2018-08-27 05:58] #20 closed, assigned to nobody

[2018-09-18 11:19] Penggggg opened #23 "Some doubt"
How can i detect mobx variable changing in vue ? Thx

[2018-09-18 12:11] Penggggg commented on #23
[code]

[code]

[code]

[2018-09-19 03:15] kuitos commented on #23
use mobx `observe` instead of vue `watch` https://mobx.js.org/refguide/observe.html#observe

[2018-09-21 04:20] Penggggg commented on #23
@kuitos I'm sorry, but i can't understand how can i detect mobx variable changing in vue

[code]

[2018-09-21 04:29] Penggggg commented on #23
@kuitos

[code]

[code]

[2018-09-25 02:40] kuitos commented on #23
Could you please make a minimal reproduction with [codesandbox](https://codesandbox.io/s/m5k1yrn2xx)?

[2018-09-25 02:43] kuitos commented on #23
console.log( change ); // not working
    }));

fix to
[code]
check the observe api https://mobx.js.org/refguide/observe.html#observe

[2018-10-02 10:10] suenot opened #24 "Need boilerplate projects"
Need some start boilerplates vue with mobx-vue. I tried to put to work vue-cli 3.0.4 (vue 2.5.17) with mobx-vue 2.0.7 and mobx 5.5.0 with babel or ts and had unsolved problems with decorators:

[code]

[2018-10-02 16:18] kuitos commented on #24
Thanks for your feedback!
vue cli 3 doesn't support decorated class property out of box, u may need to add the `proposal-class-properties` plugin to babel configuration as the error message said.

[2018-10-04 07:47] suenot commented on #24
Thanks, you really help me.
With this ```babel.config.js``` ```vue-cli``` works with ```mobx-vue```:
[code]

[2018-10-04 07:47] #24 closed, assigned to nobody

[2018-10-04 15:40] teleclimber commented on #7
Sadly mobx-remotedev seems abandoned. Trying to install it NPM gave me a security warning (no biggie, but it's not a good sign). There are a number of branches though, did anybody find a good one that works with mobx 5?

[2018-10-23 10:21] kuitos commented on #23
closed as not active any more

[2018-10-23 10:21] #23 closed, assigned to nobody

[2018-10-30 08:21] linyupark opened #25 "Use mobx-vue cause hot reload mount component twice"

[2018-10-30 09:30] kuitos commented on #25
could you provide a minimal reproduction or a codesandbox example?

[2018-10-31 10:06] linyupark commented on #25
https://codesandbox.io/s/4lx1nr9vp7
App.vue

watch the change of console print content, mounted method will call twice, the first time is the code before change and then call the changed code.

[2018-11-02 02:37] kuitos commented on #25
@linyupark I will handle the issue this weekend, thanks!

[2018-11-27 16:53] #25 closed, assigned to nobody

[2018-11-27 16:55] kuitos commented on #25
@linyupark fixed and released v2.0.8, sorry for the delay~

[2018-12-09 13:05] kpdemetriou opened #26 "Issue with NuxtJS Pages"
When creating a page (i.e. a component under the `pages` directory) in NuxtJS, `this` is `undefined` in `data()` when the component is an `observer`.

[2018-12-10 03:45] kuitos commented on #26
Could you please provide a minimal codesandbox reproduction?

[2018-12-20 06:14] kuitos commented on #26
could you pls provide some code example? @kpdemetriou

[2018-12-24 22:14] kpdemetriou commented on #26
Sure. https://codesandbox.io/s/xv0yqylkl4

[2018-12-25 11:46] kuitos commented on #26
How to reproduce the error? @kpdemetriou

[2018-12-25 14:32] kpdemetriou commented on #26
The link I sent demonstrates that `this` is undefined in the `data` of NuxtJS pages on the client side. In Vue, `this` should always be available and populated.

You should see the `h1` changing from `false` to `true`. No further action is required.

[2019-01-11 16:16] Nemikolh commented on #15
Hi,
I am also seeing a similar error after migrating vuejs from `2.5.17` to `2.5.18`. However, I can't use `observable.ref` or pass `{ deep: false }` to my observable as it breaks some of my observer. The codebase is relatively big, I will try to provide a minimal reproduction link.

Does that problem sounds familiar?

[2019-01-11 17:00] Nemikolh opened #27 "Ideas regarding slot related problems"
We run into a common problem using this library and [vuetifyjs](https://github.com/vuetifyjs/vuetify), and I think this library could be extended to offer a few basic components/functions to solve those issues with `$scopedSlots`. Bear with me for more detail.

When using a component such as [`v-data-table`](https://vuetifyjs.com/en/components/data-tables), we have a mandatory scoped slot. The pro

[2019-01-11 18:01] Nemikolh commented on #15
Ok, so I managed to reproduce the problem: https://codesandbox.io/s/p7zwrvjrz7.

I'm really annoyed because it used to work until we had to update vuetify which in turns forced us to update vue to at least version `2.5.18`. Maybe this bug should be reported on the `vuejs` repo?

**EDIT:** A simpler example that does not use vuetify: https://codesandbox.io/s/k90k8kwn2r

[2019-01-14 13:33] Nemikolh commented on #15
After investigating more this PR https://github.com/vuejs/vue/pull/7828 broke `mobxjs/mobx-vue`.
@kuitos, I see several options:
- Submit a PR to github.com/mobxjs/mobx to allow setting `__proto__` in some way. Not sure of the implication of the change.
- Submit a PR to github.com/vuejs/vue to skip object of type `Proxy`.
- Do something in this library? However I'm not sure if there's anything tha

[2019-01-14 13:34] Nemikolh commented on #15
@kuitos: Could you re-open this issue until a solution is found?

[2019-01-14 16:08] kuitos commented on #15
@Nemikolh Thanks for your great efforts, I will look into it this weekend:smiley:

[2019-01-14 18:08] Nemikolh commented on #15
@kuitos Sounds awesome! I will let you know if I found other/better solutions.

[2019-01-17 16:34] dmitriyzhirma opened #28 "updated hook not called"
Updated hook not called after model update

Demo: https://codesandbox.io/s/24ov7q1pnj

[2019-02-11 17:25] bitencode commented on #15
@kuitos @Nemikolh As far as I know this is still broken with any version of Vue > 2.5.17.  I did some debugging and tracing over the weekend and added some more detail on the Vue issue referenced above.  I kinda doubt that the Vue team will do anything about this because they want to hook into the Array prototype to make the array observable. I added what I found there.
I can make the problem "go

[2019-04-26 11:11] marsprince commented on #28
Model's change doesn't trigger updated method because it is not in data.
Observable data will be directly defined in vm instead of data with function collectData.

[2019-05-06 18:30] mxs42 commented on #15
Any update on this? I basically can't use any store that has arrays inside.

[2019-05-08 06:55] albertodvc commented on #15
Same problem here. I'm building a POC to evaluate a possible migration of an old codebase to MobX/Vue but an issue like this being ignored for months...

[2019-05-09 06:13] kuitos commented on #15
sorry for the delay.. could u pls provide a codesandbox reproduction for a better problem checking? @albertodvc

[2019-05-09 13:51] albertodvc commented on #15
Thanks for the quick reply and sorry if my comment sounded a little rude. I will try to write one next week.

[2019-05-10 14:21] mxs42 commented on #15
I guess suggested usage in readme is wrong.
[code]
When you do this, you basically say that Vue should observe `state`. Why is it necessary if we you MobX reactivity? I can't really reproduce the issue using example project, I guess it has something to do with my stores / components setup but I was able to remove this error by moving store initialization into `created` hook.

[2019-05-13 11:46] mxs42 commented on #15
OK, after some debugging I discovered this.
The core of this issue is the [collectData](https://github.com/mobxjs/mobx-vue/blob/master/src/collectData.ts#L18) function.

It filters data out for Vue, so if you pass MobX observable in Vue component's `data` (or as a class field if you use vue-class-component) it will [check](https://github.com/mobxjs/mobx-vue/blob/master/src/collectData.ts#L24) it a

[2019-05-13 11:55] mxs42 commented on #15
Speaking about [this comment](https://github.com/mobxjs/mobx-vue/issues/15#issuecomment-453603981) and [reproduction link](https://codesandbox.io/s/k90k8kwn2r): this is **wrong** usage of mobx-vue.

When you write this
[code]
you make store an `observable` but also `store.items` is an `observable` now and **each** item inside items  is also an `observable`!
`console.log(isObservable(store.items[0]

[2019-05-13 14:36] albertodvc commented on #15
[Here is a sandbox](https://codesandbox.io/s/71k7rlv3x0) with my case. It only fails on chrome.
I have a collection store with a "contents" @observable array.
When I keep a reference to the parent collection store in array items I got the`TypeError: 'set' on proxy: trap returned falsish for property '__proto__'`. when navigating to a single item view component.
Remove the `this.$store = store;` li

[2019-05-13 15:05] mxs42 commented on #15
@albertodvc it fails in every browser, it's not related to Chrome.
Reason of failure is the same I wrote above, when you assign `this.$store = store;` your Item now has an `observable` inside but `Item` class itself isn't marked an "observable". Now when you assign item instance to data, Vue will try to observe it.

If you use ViewModel class [example](https://codesandbox.io/s/8nlyxjm149) it will

[2019-05-13 15:17] mxs42 commented on #15
Another solution without a class is to wrap your data in `observable`
[code]

I have not discovered better way to do it. I guess it's still possible though to make it better.

[2019-05-13 19:05] albertodvc commented on #15
@mxs42 It works fine in Safari.
Anyway I thought all array elements were observables when you decorated an array as observable.

[2019-05-13 20:43] mxs42 commented on #15
@albertodvc oh I don't have Safari because I'm on Windows. It's not related to item being 'observable', it's related to the way Vue works. When you write this
[code]
you tell Vue to observe item. Now when you assign something to `item` Vue will observe it. If you assign `Item` instance with `store` as a property you tell Vue to observe `Item` and its fields. But `store` is already being observed b

[2019-05-14 07:23] albertodvc commented on #15
Thanks for your time and explanation @mxs42. I think I could live with your wrapper solution,  but there are a few things I still don't understand:
 - Why it only throws once? If you go back to item list and go to any item view again, everything works but as far as I know a new instance of the route component is being created every time you navigate to a new route.
- If I get you right the problem

[2019-05-14 10:46] mxs42 commented on #15
@albertodvc

1.  It throws only once because after the first attempt to observe `$store` Vue adds `__ob__` to `$store` prototype and because objects are passed by reference, it effectively modifies $store instance globally. Vue will not do observation setup again if object has `__ob__` inside.
[code]

2. It does throw in this case. Consider this example:
[code]
now `$test` has an observable array

[2019-05-15 17:07] panqiuhui opened #30 "Please publish a new version to include some fixes."
Please publish a new version to include some fixes, e.g:
https://github.com/mobxjs/mobx-vue/commit/98b2f7f5ecdc6b5a9f51ada720e235944271ee66#diff-16f9b99c2cd30a22750975a7d8cc169a

[2019-05-16 06:18] kuitos commented on #30
released v2.0.9

[2019-05-16 06:18] #30 closed, assigned to nobody

[2019-05-18 02:27] kevlarr commented on #11
@kuitos How would that example let one use Vue and mobx computed properties together? We are running into this issue and lacking a good solution for making something like...

[code]

... into a reactive property is basically preventing us from adopting mobx in our Vue apps.

[2019-05-18 03:01] kevlarr commented on #11
At the very least, it would be nice if this inability to use mobx computed inside of Vue computed is called out in the main README as a more obvious limitation or this issue is left in an "opened" state to make it easier to find. If there won't be a fix, this should at least be surfaced more.

[2019-05-19 02:35] kevlarr commented on #15
@mxs42 @albertodvc Really appreciate the discussions here, and the similar observations. I enjoyed migrating an app to Vue until I added Vuex - similar complaints about typical flux/redux boilerplate, triggers, and string passing, and beyond that the complete inability to leverage Typescript was a deal-breaker.

I got excited again when I started converting Vuex to Mobx because of the clarity of t

[2019-05-19 22:35] mxs42 commented on #15
@kevlarr consider moving all state to MobX, i.e. if you need to compute something from `store` you **must** do it inside MobX viewmodel and then in your template you refer to instance of that viewmodel.
Actually talking about your example in #11 — you can just reference computed `Store.things` in your template, right?

I currently continue to develop my app using MobX. Yes, it's not that amazing h

[2019-05-19 22:53] mxs42 commented on #15
I wrote comment above and realized again how fucked is a modern web development. We have to use thousands lines of code and another thousands lines to connect different lines of code to each other just to get things done. Many hacks and wrappers, complex build systems (and infinite amount of difficulties while trying to do something bigger than TodoMVC), total bullshit!
I'm also a C++ developer an

[2019-05-20 02:30] kevlarr commented on #15
@mxs42 Yeah, agreed on Svelte - I re-read some of their docs and lost some interest, and same with Octane (I used to use Ember but disliked a lot of its patterns, and not enough is being 'fixed').. I'll check out how Habitica does state management with Vue, that sounds interesting! @kuitos mentioned moving all state to Mobx and I had not really thought of that as a good pattern before, but both of

[2019-05-22 04:40] gmoneh commented on #11
I’ll second this request, and would suggest to be reconsidered. There are plenty of use cases where a computed mobx and computed vue property together would be really useful.

[2019-05-22 05:17] kuitos commented on #11
reopen this issue, try to find a solvable way

[2019-05-22 14:15] gmoneh commented on #11
Thanks for reconsidering this.
I don't think this has to extend to all the other Vue mechanisms. There is a clear difference for example between MobX actions and Vue methods. The latter can invoke the former if necessary, no need to interlope them. Similar with watches... that's equivalent to a MobX reaction and no need to merge those... one works for local state and other for the observable. Alth

[2019-06-05 05:03] ya-tmch commented on #28
How to determine if a component has been updated? To use the new links $refs.

[2019-07-02 14:53] arenddeboer commented on #15
Ahhh, I was so hoping Mobx-vue to be my replacement for vuex-module-decorators. But I've also hit this error. I'm really frustrated with TypeScript and Vue at the moment. Even considering a full rewrite to Angular even though I hate its enterprisy boilerplate and fast paced dev cycle.

[2019-07-03 12:21] mxs42 commented on #15
Personally I finished small internal project without using any 3rd party state management library.
I just created and used exported Vue instances as my stores, I think I recreated what Vuex does but without boilerplate and string actions.
I mean I just did
[code]
I didn't use TypeScript for this so it was bad in terms of autocompletion and IDE suggestions but I guess you can use typings for this.

[2019-07-05 15:00] kevlarr commented on #15
@mxs42 Nice, I think that's pretty similar to an email blast that Michael Thiessen sent out a week ago called "Why I don't use Vuex".. He was presenting an alternative of just using a Vue component as a store and injecting it where necessary (or just passing down via props)

[2019-07-22 12:50] dohoangn opened #31 "mobx cause [Vue warn]: Unknown custom element: <router-link>"
It was working fine before installing and add mobx to vuejs
main.js
[code]

App Template:
[code]

App Script:
[code]
I've got this error:

[Vue warn]: Unknown custom element: <router-link> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

vue.runtime.esm.js?2b0e:619 [Vue warn]: Unknown custom element: <router-view> - did you register the

[2019-08-28 13:33] Him-2C opened #32 "I got error when I use @Observer before @Component with Nuxtjs"
I use Nuxt + typescript and run with 'universal' mode.

I got error when I refresh browser with this code

[code]

Is don't have any error when I try with

[code]

error TypeError: Cannot convert undefined or null to object
    at Function.getOwnPropertyNames (<anonymous>)
    at Home.Component._init (vendors.app.js:2672)
    at Home.Vue (commons.app.js:16802)
    at new Home (inspire.js:64)
    a

[2019-08-28 13:57] kuitos commented on #32
Could u pls provide a minimum reproduction with codesandbox?

[2019-08-28 14:44] Him-2C commented on #32
https://codesandbox.io/s/github/Him-2C/nuxt-typescript-check-mobx

@kuitos

In page/index.vue

[2019-08-29 15:13] Him-2C commented on #32
https://github.com/Him-2C/nuxt-typescript-check-mobx

[2019-09-09 11:35] p6m459 commented on #11
Probably it could be achieved with writing `@computed` decorator in a way that it registers all accessed properties as dependency (`Dep.target.depend()`) in Vue dependencies/watchers system.

[2019-09-09 11:44] p6m459 commented on #11
Simplest workaround is to disable cache on that getter:
[code]
read more: https://github.com/vuejs/vue-class-component#create-custom-decorators

[2019-09-09 11:57] p6m459 commented on #11
Ive written universal `@computed` decorator, that can be used on vue classes, and as a mobx `computed` decorator:

[code]

[2019-09-29 10:20] Him-2C commented on #32
solved with

![image](https://user-images.githubusercontent.com/30730045/65830829-687a3500-e2dd-11e9-8386-e98b1584b59c.png)

[2019-10-05 08:03] jbbch commented on #11
Any updates on the issue?

[2019-10-05 11:50] p6m459 commented on #11
@jbbch for now you can just use the solution i posted. If it's only for aliasing MobX store variables purposes, you won't have any performance drawbacks. If you have some calculations inside that getter you should move it to MobX getter and end result will be the same as you would use cache provided by Vue `computed` properties

[2019-10-05 20:27] jbbch commented on #11
@partyka1 Thanks for the proposition! I specifically want to keep MobX store properties and Vue components' representation properties separated. By doing so, I need to have calculations inside my getters and can't use your solution.

[2019-10-05 20:32] p6m459 commented on #11
i think its not stressed enough, but assumption of this plugin is when you install it you ditch vue watch system in favour of mobx. you shouldnt mix vue computed and mobx store. thats the assumption and design of mobx-vue, so probably this issue wont be followed by fix from the dev team.

[2019-10-05 20:38] p6m459 commented on #11
i think it should be one of the section in the readme about this problem just so people know what they are getting into :)

[2019-10-05 20:58] p6m459 commented on #11
Also, I think showing warning with short description of the issue in development environment if someone uses `@computed` on vue-class-component getter. @kuitos what's your take on this?

[2019-10-11 17:40] Nemikolh commented on #15
Hi @mxs42, I just wanted to thank you for coming up with a solution. I agree that the solution is not great. In my opinion the problem is that `vue` tries to do too much but YMMV. I guess for me what I want is a view layer closer to React / Preact. Anyway, thanks again!

[2019-10-19 20:08] p6m459 opened #34 "mobx-vue does not forward static properties when using vue-class-component"
Using `@Observer` with `@Component` does not copy static properties

[2019-10-23 14:19] Him-2C commented on #34
https://github.com/mobxjs/mobx-vue/issues/32

[2020-01-14 00:06] jswhisperer commented on #3
I'm kinda wondering what direction this project might take with a "new vue" on the horizon. Since vue seems to move away from classes and therefore decorators is there a happy path to using mobx with vue in 2020?

[2020-01-16 08:29] murraybauer opened #36 "Add Documentation re Optimizing Rendering"
Do the `mobx-react` [best practices](https://mobx.js.org/best/react-performance.html) regarding component composition and de-referecning equally apply to `mobx-vue`?

Does this library work same same, any other obvious advice?

[2020-04-09 07:30] planaria commented on #28
I need notification after update for rendering with three.js.
Are there any alternatives?

[2020-06-23 11:15] EranNL opened #43 "No re-renders when observed state is used in some parts of the template"
Hello,

First of all, I am quite new to Vue, so I might have missed some documentation. I have used Mobx in combination with React, and haven't had any issues there regarding views not being updated.

Secondly, I have a quite complex construction, where I inject my stores via [Inversify](https://github.com/inversify/InversifyJS) in order to  have some sort of IoC-layer between my components and st

[2020-07-03 12:34] Louis-Tian opened #44 "What's the counterpart of `Vue.nextTick` for mobx-vue?"
When unit testing Vue components, it is often necessary to call `await vm.$nextTick()` to ensure the rerender is completed before accessing the component's DOM for assertion.

As far as I understand, `mobx-vue` triggers the rerender directly, and has nothing to do with Vue's Async Update Queue. Therefore `vm.$nextTick` would not work for mobx-vue.

So the question is how would one do the same thin

[2020-08-04 09:24] fairking opened #47 "Can I use mobx-vue without decorated class properties?"
I got a project with no decorated class properties. Trying to use mobx-vue instead of vuex. Vuex seems too complicated. The second reason it has no TS support.
Based on your small example https://github.com/mobxjs/mobx-vue/blob/master/README.md the ViewModel is created using decorated properties. Just wondering if I can create a viewmodel with pure typescript.
Is it possible?

[2020-08-05 06:27] doriandrn opened #48 "`observer.js` missing from current dist/package"
Hello,

I've installed the package from npm and i was getting this error:

`Module not found: Error: Can't resolve './observer' in '/Users/........./node_modules/mobx-vue/esm'`

The file seems to be missing indeed from the package after checking node_modules.
<img width="180" alt="Captură de ecran din 2020-08-05 la 09 24 15" src="https://user-images.githubusercontent.com/13486356/89378989-a286458

[2020-08-10 06:16] kuitos commented on #48
Checked the npm package, it seems not missing https://unpkg.com/browse/mobx-vue@2.0.10/esm/observer.js

could you pls check your version of installed mobx-vue package?

[2020-08-13 10:18] doriandrn commented on #48
Thanks for the suggestion, it seemed to be a problem with yarn installing it. After switching to npm, everything worked fine.

[2020-08-13 10:18] #48 closed, assigned to nobody

[2020-08-19 01:35] damirbogd commented on #43
@emachiels having somewhat similar issue, have you been able to fix that?

[2020-08-19 13:33] doc987 opened #49 "Module Browser Build"
Is there a module (ES2015/ES6) browser build to correspond to the Vue module browser build?

Example Vue Browser Builds
- Vue 2: https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js
- Vue 3: https://cdn.jsdelivr.net/npm/vue@3.0.0-rc.5/dist/vue.esm-browser.js

[2020-08-19 13:34] doc987 opened #50 "Vue 3 Compatibility"
mobx-vue doesn't seem to work with Vue 3 ([https://v3.vuejs.org/](https://v3.vuejs.org/)).  Is there going to be an update for that?

[2020-08-20 22:46] bestmazzo opened #51 "Exception when using with mobx-state-tree"
Hello,
I'm facing a strange exception, and I was able to reproduce it in the tests below. I'm writing here as the test made without mobx-vue doesn't fail, so I presume the problem starts from there.

The environment is:
mobx: 5.15.14
mobx-state-tree: 3.17.2
mobx-vue: 2.0.10
vue: 2.6.11

[code]

the exception raised is:

[code]
but before this, another exception is catched

[code]
If necessary, I c

[2020-08-22 21:31] EranNL commented on #43
@damirbogd, haven't been able to fix it so far. I work mostly with React, so haven't tried it either. But hopefully it works better with V3 of Vue.

[2020-08-25 03:48] ekobi commented on #51
Seeing the same issue here. @bestmazzo Any progress with your debugging? Almost identical configuration:

    kobi@blackbird web $ yarn list | ag 'mobx| vue@'
    ├─ mobx-state-tree@3.17.2
    ├─ mobx-vue@2.0.10
    ├─ mobx@5.15.5
    ├─ vue@2.6.11
    kobi@blackbird web $

[2020-08-25 04:11] kuitos commented on #51
Could you pls provide a minimal reproduction?

[2020-08-27 02:38] ekobi commented on #51
FYI, I was able to reproduce this same bug *without* `mobx-vue`. A manually-constructed webpack project with a trivial MobX app works as you would expect; but the same trivial app deployed within a vue-cli project fails with these symptoms. I'll update with test case after some sleep.

[2020-09-06 23:20] bestmazzo commented on #51
Well, I'm currently using mobx-vue in a Nuxt application, having a complex data model and multiple libraries involved (some internal widget libraries - deployed with vue-cli -  and some third party layout libraries), so this could be a cause.
The above jest test is the simplest reproduction I could make, but I'm currently working on recreating a live example with codesandbox.

Meanwhile I've been

[2020-09-21 00:49] ProTip commented on #50
Vue 3 has just been released. I'm somewhat familiar with the existing binding code, but Vue 3 has been re-written and I have yet to really find the lifecycle and re-render code haha. Once I can make sense of it I may be able to write new bindings..

[2020-10-04 09:12] jswhisperer opened #54 "mobx6"
mobx6?

[2020-10-10 04:44] murraybauer commented on #54
The Mobx6 annoucement: [https://michel.codes/blogs/mobx6](https://michel.codes/blogs/mobx6)
Please add as part of Vue 3 support.

[2020-10-13 19:57] bestmazzo commented on #51
Hello,
I was able to create a codesandbox reproducing the error depicted above:
https://codesandbox.io/s/vue-mst-3rueh

Hope this helps better investigating the problem.

[2020-10-30 01:44] AllenMRbai commented on #50
hope mobx-vue support vue 3 too.
our team want to refactor old project into vue 3. vuex is complex , so we want to use mobx instead.
however, there haven't lib support vue 3 yet.

[2020-11-17 09:03] doxiaodong commented on #50
Hello, I support vue3 with observer in https://github.com/umijs/neeko/blob/master/src/vue/observer.ts. Hope it useful.

[2020-12-17 10:19] MisicDemone opened #57 "TypeError: reaction.getDisposer is not a function"
codesandbox: [https://codesandbox.io/s/gallant-butterfly-3clxm](https://codesandbox.io/s/gallant-butterfly-3clxm)

Maybe it should be `reaction.getDisposer_`?

[2020-12-25 15:42] standbyoneself commented on #57
No, it shouldn't. Change MobX version to 5.x.

[2021-03-18 01:03] trin4ik commented on #54
dead?

[2021-03-18 19:45] jswhisperer commented on #54
Yeah dead lib

[2021-03-18 19:45] #54 closed, assigned to nobody

[2021-03-28 20:57] abreumatheus commented on #57
I'm facing the exact same issue, and i don't think "Go back to 5.x" is a great answer.
Everything is working fine here, but i'm getting this warning on the console.

[2021-03-30 05:56] asd116725 commented on #57
It can be worked. Change MobX version to 5.x.

[2021-04-10 14:24] anri-asaturov commented on #50
I just tested mobx-vue with `vue@3.0.11`class component and `mobx@6.1.8` and it works. What am I doing wrong?

[2021-04-14 11:30] EthianWong commented on #57
@doxiaodong @kuitos @azzra
Can MobX v6 be supported?

[2021-04-28 05:52] iChenLei opened #60 "[RFC] mobx-vue v3"
## Introduction
Since mobx v6 and vue v3 was released for a while, it's time to support mobx v6 and vue v3.

### Current Feature Request
Vue 3 Compatibility #50
Module Browser Build #49
Can I use mobx-vue without decorated class properties? #47
Add Documentation re Optimizing Rendering #36
Nuxt support #26 #32

### Deprecate vue-class-component
Thoughts about mobx-vue https://github.com/mobxjs/mob

[2021-05-10 07:32] kuitos commented on #60
vote for idea 2, but don't need to support decorator any more.

[2021-05-10 09:39] Cyberhan123 commented on #60
yes,idea 2 is good,and there some different idea,
[code]

[2021-05-26 01:58] wang1057296609 opened #66 "mobx-vue是支持vue3.0的吗？"
mobx-vue是支持vue3.0的吗？想确认一下

[2021-05-26 02:11] wang1057296609 commented on #66
或者最快什么时候发新版本，支持vue3.0呢

[2021-05-26 03:48] iChenLei commented on #66
@wang1057296609  目前是不支持的，https://github.com/mobxjs/mobx-vue/issues/60 对于vue3的支持正在rfc阶段讨论中，欢迎提出您的建议，目前我在做原型开发，没有肯定的release时间，感谢你的关注。

[2021-05-26 03:48] #66 closed, assigned to nobody

[2021-06-11 01:28] zephyr-66 commented on #60
`import { createApp } from 'vue';
import MobxVuePlugin from 'mobx-vue';
import App from './App.vue';

createApp(App)
    .use(MobxVuePlugin)
    .mount('#app');`

<script>
  import { observer } from 'mobx-vue';
  export default observer({
      setup() {
        // balabala
      }
  });
</script>

<script>
  import { observer,inject } from 'mobx-vue';
@inject('store')
@observer
export default def

[2021-06-11 02:07] zephyr-66 commented on #60
import { createApp } from 'vue';
import store from './store';
import App from './App.vue';
createApp(App)
.use(store)
.mount('#app');`

<script>
  import { observer,inject } from 'mobx-vue';
  @Inject('store')
  @observer
  export default defineComponent({
    setup(props) {
      console.log(props) // {store:{}}
    }
  })
</script>

[2021-06-11 02:07] zephyr-66 commented on #60
import { createApp } from 'vue';
import store from './store';
import App from './App.vue';
createApp(App)
.use(store)
.mount('#app');`

<script>
  import { observer,inject } from 'mobx-vue';
  @Inject('store')
  @observer
  export default defineComponent({
    setup(props) {
      console.log(props) // {store:{}}
    }
  })
</script>

[2021-06-11 02:10] zephyr-66 commented on #60
[Uploading texx.md…]()

[2021-06-11 02:10] zephyr-66 commented on #60
`import { createApp } from 'vue';
import store from './store';
import App from './App.vue';
createApp(App)
.use(store)
.mount('#app');`

<script>
  import { observer,inject } from 'mobx-vue';
  @Inject('store')
  @observer
  export default defineComponent({
    setup(props) {
      console.log(props) // {store:{}}
    }
  })
</script>`

[2021-06-11 02:11] zephyr-66 commented on #60
import { createApp } from 'vue';
import store from './store';
import App from './App.vue';
createApp(App)
.use(store)
.mount('#app');`

`<script>
  import { observer,inject } from 'mobx-vue';
  @Inject('store')
  @observer
  export default defineComponent({
    setup(props) {
      console.log(props) // {store:{}}
    }
  })
</script>`

[2021-06-11 02:12] zephyr-66 commented on #60
`import { createApp } from 'vue';
import store from './store';
import App from './App.vue';
createApp(App)
.use(store)
.mount('#app');`

`<script>
  import { observer,inject } from 'mobx-vue';
  @Inject('store')
  @observer
  export default defineComponent({
    setup(props) {
      console.log(props) // {store:{}}
    }
  })
</script>`

[2021-06-17 13:36] steven-sheehy commented on #60
Please don't deprecate vue-class-component support. It's the only reason I use mobx-vue. If you want to support composition API in addition to classes that would be fine. You could release the composition support now and do another release later when vue-class-component finalizes v3 support.

[2021-06-17 14:00] iChenLei commented on #60
@steven-sheehy Wow, I really don't know vue-class-component support is so important for you. I get your feedback and rethink vue-class-component support.

[2021-06-21 17:39] snapxtp opened #73 "Mobx6 not working"
When I download mobx-vue, it comes with version 2.0.11 and doesn't work with mobx6, it gives a webpack object error in the console.
Does this plugin work for vue.js with mobx 6 without using @pattern?

Thanks.

[2021-06-23 01:32] RobinRadic commented on #60
I would really like to use `mobx-vue` & `vue-class-component` with vue3. The code is very clear and understandable for non-js programmers in the team.

[2021-06-24 15:21] iChenLei commented on #73
Mobx6 support added by https://github.com/mobxjs/mobx-vue/pull/69, not release now. I will release a alpha version as soon as possible.

[2021-06-24 15:21] iChenLei commented on #73
And vue3 support is still work in progress.

[2021-06-25 01:41] Cyberhan123 commented on #60
但是我感觉吧，vue3的类hook特性，使得store层变得不是特别刚需

[2021-06-29 07:18] iChenLei commented on #73
@snapxtp Please try `npm install mobx-vue@next `, we release a alpha version which support mobx6 and vue2.x, your feedback is very important for us, Thanks.

[2021-06-29 18:39] snapxtp commented on #73
Great I will try it and share the feedback with you. Thanks for the great job

[2021-07-01 07:34] snapxtp commented on #73
It didn't work in my project, I couldn't compile

"mobx": "^6.3.2",
"mobx-vue": "^2.1.0-alpha.4",
"vue": "^2.6.11",

note: The error I get when upgrading to mobx-vue alpha version. I completely upgraded the node_module folder and updated the versions.

ERROR:

* mobx-vue in ./node_modules/cache-loader/dist/cjs.js??ref--12-0!./node_modules/babel-loader/lib!./node_modules/cache-loader/dist/cjs.js??r

[2021-07-01 07:42] iChenLei commented on #73
Thanks for feedback, I will debug it today. ❤️

[2021-07-01 13:57] iChenLei commented on #73
@snapxtp Can you try it now `2.1.0-alpha.5`? I fix the Github Actions bug, build the correct artifacts to npm registry. Thanks u for fast try and give me feedback.

[2021-07-05 20:53] songgnqing commented on #60
vue3.0 不需要mobx，vue自带的reactivity可以完全替代掉mobx。

[code]

在component中用`computed`来引入store的数据就可以了。

[2021-07-19 06:04] murraybauer commented on #60
I vote for:
- Idea 2 - without the @ decorator - so support something similar to match the React approach.
- Idea 3 - as need 1st class Vue.js SFC support as well.

[2021-07-31 06:50] murraybauer commented on #60
Also some food for thought of how [mobx-jsx ](https://github.com/ryansolid/mobx-jsx)handels this:
* [Counter Using Functions](https://codesandbox.io/s/mobx-counterfunctions-3sqv1)
* [Counter Using Classes](https://codesandbox.io/s/mobx-counterclasses-uz7g9)

[2021-08-03 07:43] LengYXin commented on #60
别启用 类语法和装饰器吧。类语言可以很好地封装继承，装饰器是未来趋势，而且很好用

[2021-08-03 07:48] LengYXin commented on #60
我觉得也是。class 语法对于后端开发人员真的非常友好，我就是一个写过C# ,Java 后面转型js 的在搭建工程时会用后端开发模式把React,Vue设计成后端工程结构，后面后端开发人员都不需要懂React,Vue这些都能很好修改代码，专注业务

[2021-08-12 08:14] sergeydorovsky commented on #60
I'm currently using MobX 6 with Vue 3. Here is the plugin I wrote (it's actually Quasar boot file):
Works like a charm. Hope this helps.
[code]

[2021-08-12 17:22] wobsoriano commented on #60
Hey just released a really simple mobx-react-lite inspired library for Vue 3

https://github.com/wobsoriano/mobx-vue-lite

- `useLocalObservable`
- `<Observer></Observer>`
- `createGlobalObservable `

[2021-08-12 18:05] wobsoriano commented on #50
https://github.com/wobsoriano/mobx-vue-lite

[2021-08-29 07:26] iChenLei commented on #60
@wobsoriano Are you interested in mobx-vue v3 design ? or do you want transfer your mobx-vue-lite to mobxjs org ? It looks like good (mobx-vue-lite), but no test case ci, so we can do it better. what's your opinion ?

[2021-08-29 10:43] wobsoriano commented on #60
I'm fine moving it to mobxjs org

[2021-09-02 15:43] LengYXin commented on #60
有一个很神奇的现象。就是在v3里面的 mobx 类
外面套一个 reactive 或者直接在 vue组件内 new 的话，这个mobx是正常工作的。
[code]
仓库地址：https://github.com/LengYXin/mamba/tree/dev/packages/micro

https://github.com/LengYXin/mamba/blob/dev/packages/micro/src/components/user.vue
还用微前端方式传递到React 夸框架也正常使用。

[2021-09-12 06:42] iChenLei commented on #57
Will release a v2.1.0 to support mobx v6 later @EthianWong @MisicDemone

[2021-09-12 06:44] iChenLei commented on #50
https://github.com/mobxjs/mobx-vue-lite , look here

[2021-09-12 06:44] #50 closed, assigned to nobody

[2021-09-13 02:51] iChenLei commented on #60
closed via https://github.com/mobxjs/mobx-vue-lite/issues/1

[2021-09-13 02:51] #60 closed, assigned to nobody

[2021-09-13 02:52] iChenLei commented on #73
v2.1.0 released, so close this issue

[2021-09-13 02:52] #73 closed, assigned to nobody

[2021-09-13 02:53] iChenLei commented on #57
v2.1.0 released, support mobx v6, but this is a breaking change, **v2.1.0 not support mobx v2/v3/v4/v5**!

[2021-09-13 02:53] #57 closed, assigned to nobody

[2021-12-01 09:41] huybuidac opened #83 "Mobx 6 got `Exception: TypeError: Cannot read properties of undefined` on COLLECTION"
If using observable for COLLECTION, we got error while access any property of object.

[code]

![image](https://user-images.githubusercontent.com/7322305/144210276-7af64e88-6db3-4103-be8d-9afa0c278db4.png)

[2021-12-01 09:55] iChenLei commented on #83
Maybe you should report this issue to mobxjs/mobx repository? @huybuidac

[2021-12-01 10:02] huybuidac commented on #83
@iChenLei I don't see any unit test for collection on mobx-vue `2.1.0`, you can make a simple unittest for it :(

I'm using with vuetify v-data-table, and got this error.

[2021-12-01 10:59] iChenLei commented on #83
please provide minimal reprodcue code repo([codesandbox](https://codesandbox.io) or [stackblitz](https://stackblitz.io)) or snippet, thanks.

[2021-12-27 03:00] #83 closed, assigned to nobody

[2022-02-03 18:19] ColtHands opened #87 "Is there a way to add mobx to vue plugin component inside Vue.component, Vue.extend install function?"
Basically i want to add my state globally through install fn, but I can't seem to find any examples.

[code]

[2022-02-05 20:19] ColtHands commented on #87
I've tried multiple things but i can't seem to find a way to define `mobx-vue` globally. Are there any examples like that?

[code]